<!DOCTYPE html>
<html>
<head>
    <title>Qaptcha test</title>
</head>
<body>
{{ form.media }}
<form action="/qaptcha/test/" method="post">
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>

</body>
</html>