{% load mptt_tags %}

<button id="menu" class="btn">Menu</button>

<div id="v-menu">
    <div id="main-nav">
        <ul>
        {% for top_category in categories %}
            {% if not top_category.exclude_from_navigation %}
                <li id="cat_{{ top_category.id }}" class="main-category">{{ top_category.name }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div id="sub-nav">
        {% for top_category in categories %}
            {% if not top_category.exclude_from_navigation %}
                {% if not top_category.is_leaf_node %}
                    <div id="sub_cat_{{ top_category.id }}" class="sub-category">
                        <h6>{{ top_category.name }}</h6>
                        <ul>
                            {% for category in top_category.get_children %}
                            <li><a href="{% url lfs_category category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(".main-category").hover(
        function(){
            $(".sub-category").css("display", "none");
            $(".sub-category").css("visibility", "hidden");
            var cat_id = $(this).attr("id");
            $("#sub-nav").css("display", "block");
            $("#sub_"+cat_id).css("visibility", "visible");
            $("#sub_"+cat_id).css("display", "block");
        }
    );
    $("#v-menu").hover(
        function(){},
        function(){
            $("#sub-nav").css("display", "none");
        }
    )

    var menu_btn = $("#menu");
    var vertical_menu = $("#v-menu");

{% if homepage_f %}
    vertical_menu.css("visibility", "visible");
{% else %}
    menu_btn.click(function(){
        if (vertical_menu.css("visibility") == "hidden"){
            vertical_menu.css("visibility", "visible");
        }
        else{
            vertical_menu.css("visibility", "hidden");
        }
    });

{% endif %}
</script>
