{% load bootstrap_toolkit %}
{{ form|as_bootstrap:"vertical" }}


{% comment %}
{% for field in form %}
    <div class="field">
        <div class="label">
            {{ field.label_tag }}:
        </div>
        
        {% if field.errors %}
            <div class="error">
                {{ field.errors }}
                {{ field }}
            </div>
        {% else %}
            <div>
                {{ field }}
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endcomment %}