{% load i18n %}
<div class="navbar main-nav">
    <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">{% trans "Menu" %}</a>
    <div class="nav-collapse">
    <ul class="nav">
        {% for tab in tabs1 %}<li><a href="{{ tab.link }}">{{ tab.title }}</a></li>{% endfor %}
    </ul>
    {% if tabs2 %}
    <div class="pull-right">
    <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Еще" %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for tab in tabs2 %}
                <li><a href="{{ tab.link }}">{{ tab.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    </div>
    {% endif %}
    </div>
    </div>
    </div>
</div>