{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="navbar-inner">
<div class="container">
{% for category,structure in categories|tree_info %}    
    {% if forloop.first %}
    {% if structure.new_level %}<ul class="sf-menu sf-js-enabled sf-shadow"><li>{% else %}</li><li>{% endif %}
    {% else %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
    {% endif %}
    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
</div></div></div>
<script> 
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish(); 
    }); 
</script>