{% extends "lfs/base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'Ask a question' %}</h2>
<form action="{% url lfs_faq_add_faq %}"
          method="post" class="form-vertical">
{% csrf_token %}
<fieldset>
    {{form}}
</fieldset>
<input type="submit" class="btn btn-primary" value="{% trans 'Ask' %}" />    
{% endblock %}