{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit admin_static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ admin_root_path }}jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
<div id="content-main" class="inner-two-columns" class="form-vertical">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}
    action="" method="POST">
    {% csrf_token %}
    {{ form|as_bootstrap:"vertical" }}
    <div class="form-actions">
        <input type="submit" class="btn btn-info" value="{% trans 'Save' %}"/>
    </div>
</form>
</div>
{% endblock %}