{% load url from future %}
{% load i18n %}
<div class="toolbar-content">
  <div class="object-tools">
        <div class="btn-group">


        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-list icon-white"></i> {% trans "Add criteria" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for model in criteria_models %}
                    <li>
                    <a href="{% url 'admin_criteria_criterion_add' content_type.id object.id model.id %}" onclick='return showAddAnotherPopup(this);'>
                    {{ model.model_class.criterion_name }}
                    </a></li>
                {% endfor %}

            </ul>
        </div>


        </div>

        <div class="btn-group">
            <a href="{% url 'admin_delete_all_criteria' content_type.id object.id %}" class="ajax-confirm-link btn btn-danger"
            data-question="{% trans 'This operation cannot be undone. Do you really want to delete all criteria?' %}"
            data-loaderselector="#criteria-list-wrapper">
                <i class="icon-trash icon-white"></i> {% trans "Delete criteria" %}
            </a>
        </div>
  </div>
    <div>
    <h2>{% trans "Manage criteria" %}</h2>
    </div>
</div>

<div id="criteria-list-wrapper" data-ajaxlink="{% url 'admin_criteria_for_object' content_type.id object.id %}">
<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about criteria..." %}</p>
</div>

<script type="text/javascript">
    function update_criteria_info() {
        $("#criteria-list-wrapper").load("{% url 'admin_criteria_for_object' content_type.id object.id %}",
            function () {
                $("#criteria-list-wrapper").loadOverStop();
            });
    }

    function on_criteria_popup_close() {
        $("#criteria-list-wrapper").loadOverStart();
        setTimeout(update_criteria_info, 1000);
    }

    update_criteria_info();
</script>

