{% extends "lfs/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load lfs_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block section %}password-reset{% endblock %}
{% block left-slot-wrapper%}{% endblock %}
{% block right-slot-wrapper%}{% endblock %}
{% block middle-slot %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password reset") %}
{% endblock %}

{% block wrapper %}
    <h1 class="first-heading">
        {% trans "Password reset" %}
    </h1>
    <p>
        {% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p>
    <form action=""
          method="post" class="form form-vertical">
        {% csrf_token %}
        {{ form|as_bootstrap:"vertical" }}
        <input type="submit" class="btn btn-primary"
               value="{% trans 'Reset my password' %}" />
    </form>
{% endblock %}
