{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% block content %}
<div id="content-main">
<form action="" method="post" class="form-horizontal">
{% csrf_token %}
<input type="hidden" name="action" value="change_price_for_sale_action">
<input type="hidden" name="do_action" value="yes">
{{ form|as_bootstrap:"horizontal" }}
<div class="form-actions">
<input type="submit" class="btn btn-info" style="float: none" value="{% trans 'Change' %}">
</div>
<h2>{% trans "Selected products" %}</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
<tr><th>{% trans "Product" %}</th></tr>
{% for object in objects %}
<tr><td>
<a href="{{ object.pk }}/">
{{ object.name }}</a>
<input type="hidden" name="_selected_action" value="{{ object.pk }}">
</td></tr>
{% endfor %}
</table>
</form>
</div>
{% endblock %}