{% load url from future %}
{% load i18n %}
{% if products %}
<div class="btn-toolbar pull-right">
    <a href="{% url 'admin:catalog_product_changelist' %}?categories={{ category.pk }}" class="btn btn-info">
    {% trans "Manage products" %}</a>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Price' %}</th>
        <th>{% trans 'Is active' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody id="products-table-body">
    {% for product in products %}
    <tr>
        <td><a href="{% url 'admin:catalog_product_change' product.pk %}" title='{% trans "Edit" %}'>
        {% if product.sub_type == "0" %}  {# Standard #}
            {{ product.get_name }}
        {% endif %}
        {% if product.sub_type == "1" %}  {# Product with variants #}
            <strong>{{ product.get_name }}</strong>
            {% comment %}&nbsp;
            <img src="/static/icons/box-document.png" title="{% trans 'Product with variants' %}"/>
            <ul class="unstyled">
            {% for variant in product.variants.all %}
            <li><img title="{% trans 'Variant' %}" src="/static/icons/category-item.png"/>&nbsp;
            <a href="{% url 'admin:catalog_product_change' variant.pk %}">{{ variant.get_name }}</a></li>
            {% endfor %}
            </ul>{% endcomment %}
        {% endif %}
        {% if product.sub_type == "2" %}  {# Variant #}
            <img title="{% trans 'Variant' %}" src="/static/icons/document-small.png"/>&nbsp;
            {{ product.get_name }}            
        {% endif %}
        </a></td>
        <td><span class="label {{ product.status.css_class }}">{{ product.status.name }}</span></td>
        <td>{{ product.effective_price }}</td>
        <td>
            {% if product.active %}<img src="/static/admin/img/icon-yes.gif" alt="False">
            {% else %}<img src="/static/admin/img/icon-no.gif" alt="False">{% endif %}
        </td>
        <td>
            <div class="btn-toolbar">
            <div class="btn-group">
            <a href="{% url 'admin_delete_product_from_category' category.pk product.pk %}" class="ajax-confirm-link btn btn-danger" title='{% trans "Remove" %}'
            data-question="{% trans 'This operation cannot be undone. Do you really want to remove this product from the category?' %}"
            data-loaderselector="#products-list-wrapper"><i class="icon-trash icon-white"></i></a>
            </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination-block">
    <ul class="pager">
        {% if products.has_previous %}<li class="active"><a href="javascript:update_product_page_info({{ products.previous_page_number }})">&laquo;</a></li>
        {% else %}<li class="disabled">&laquo;</li>{% endif %}
        <li class="disabled">
            {% blocktrans with num=products.number pages=products.paginator.num_pages %}Page {{ num }} of {{ pages }}{% endblocktrans %}
        </li>
        {% if products.has_next %}<li class="active"><a href="javascript:update_product_page_info({{ products.next_page_number }})">&raquo;</a></li>
        {% else %}<li class="disabled">&raquo;</li>{% endif %}
    </ul>
</div>
<script type="text/javascript">
    function update_product_page_info(page) {
        $("#products-list-wrapper").load("{% url 'admin_products_for_category' category.pk %}?page="+page,
            function () {
                $("#products-list-wrapper").loadOverStop();        
            });        
    }
</script>
{% else %}
<br/>
<div class="alert alert-info">
  {% trans "There are no products yet." %}
</div>
{% endif %}