{% extends "admin/change_list.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools %}
{{ block.super }}
<div class="object-tools btn-group">
    <a class="btn" href="{{ setcleartask_url }}">{% trans 'Set task for clear sessions' %}</a>
</div>
{% endblock %}