/*
This file is intentionally left blank. 
Feel free to create a custom version in your LFS theme package 
to customize LFS management interface
*/

/*a, a.ajax-link, a.filter-variants-button {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;    
}

a:hover {
    color: blue;
    text-decoration: none;
}

select#id_properties {
    height: 300px;
    width: 300px;
}
*/

