{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" name="action" value="set_category_template"/>
    <input type="hidden" name="_selected_action" value="{{ selected_action }}">
    <input type="hidden" name="categories" value="{{ categories }}">
    <br/><input type="submit" class="btn" name="apply" value="{% trans 'Apply' %}" />
</form>

{% endblock %}