{% load i18n %}

{% if accessories %}
        <table>
    {% for a in accessories %}
            <tr>
                <td><a href="{{ a.accessory.get_absolute_url }}">{{ a.accessory }}</a></td>
                <td>{{ a.accessory.price }}</td>
            </tr>
    {% endfor %}
        </table>
{% else %}
    <div class="alert alert-info">{% trans 'У данного товара нет аксессуаров' %}</div>
{% endif %}
