{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% trans "Import data" %}{% endblock %}

{% block content_title_value %}
  {% trans "Import data" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "Import data" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
<h2>{% trans "Import data" %}</h2>
<form enctype="multipart/form-data" action="" method="post" class="form-horizontal">{% csrf_token %}
    <table>
        {{ form|as_bootstrap:"horizontal" }}
    </table>
    <div class="form-actions">
    <input class="btn btn-info" type="submit" value="{% trans 'Submit' %}"/>
    </div>
</form>
</div>
{% endblock %}