{% extends "admin/change_form.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin_order_preview' original.id %}">
    <i class="icon-eye-open"></i> {% trans "Preview order" %}</a>
</li>
{% endblock %}