{% load i18n lfs_theme_tags %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <h1>{{ shop.name }}</h1>
        <p>
            {% trans "Вы удачно изменили адрес электронной почты" %}
        </p>
        <p>
            {% trans "Username" %}: {{ user.username }}
        </p>

        {% email_html_footer %}
    </body>
</html>