{% load i18n lfs_theme_tags %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <h1>{% trans 'Welcome to' %} {{ shop.name }}{% if user.get_full_name %}, {{ user.get_full_name }}{% endif %}!</h1>
        <p>
            {% trans "Thank you for registering" %}
        </p>
        <p>
            {% trans "Your username" %}: {{ user.username }}
        </p>
        {% if password %}
        <p>
            {% trans "Your password" %}: {{ password }}
        </p>
        {% endif %}

        {% email_html_footer %}
    </body>
</html>