{% load i18n lfs_theme_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <p>
            {% blocktrans with name=order.customer.get_full_name %}Dear {{ name }} {% endblocktrans %},
        </p>
        <p>
            {% trans "your order has been paid." %}
        </p>
        <p>
            {% include "lfs/mail/order_details.html" %}
        </p>
        {% email_html_footer %}
    </body>
</html>
