{% load i18n lfs_theme_tags %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <h1>{% trans 'Hello' %} {{ customer.full_name }}</h1>
        <p>
            {% trans "You just add the new email to your account" %}: {{ email_address }}
        </p>
        <p>
            {% trans "Please confirm your email by following the next link" %}:
            <a href="{{ site }}/confirm-email/{{ email_id }}-{{ email_verification_code }}/">{{ site }}/confirm-email/{{ email_id }}-{{ email_verification_code }}/</a>
        </p>
        {% email_html_footer %}
    </body>
</html>