{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% block extrahead %}
<script type="text/javascript" src="/superadmin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<div id="content-main">
<form action="" method="post" class="form-horizontal">
{% csrf_token %}
<input type="hidden" name="action" value="generate_vouchers_action">
<input type="hidden" name="do_action" value="yes">
{{ form|as_bootstrap:"horizontal" }}
<div class="form-actions">
<input type="submit" class="btn btn-info" style="float: none" value="{% trans 'Submit' %}">
</div>
<h2>{% trans "Selected voucher groups" %}</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
<tr><th>{% trans "Voucher group" %}</th></tr>
{% for object in objects %}
<tr><td>
<a href="{{ object.pk }}/">
{{ object.name }}</a>
<input type="hidden" name="_selected_action" value="{{ object.pk }}">
</td></tr>
{% endfor %}
</table>
</form>
</div>
{% endblock %}