{% load i18n %}
<div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span4">
            <img src="{{ STATIC_URL }}img/empty-cart.png">
        </div>    
        <div class="span8">     
            <p>{% trans "Cart is empty." %}</p>      
        </div></div>
        {% else %}
        <div class="span3">
            <img src="{{ STATIC_URL }}img/full-cart.png">
        </div>    
        <div class="span9">     
            <p>{% trans "Товаров" %}: <span>{{ amount|floatformat }}</span></p>
            <p>{% trans 'На сумму' %}: <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
        </div>  </div>
        <div class="row-fluid"> 
            <div class="span8">
                <a class="btn btn-small" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
            </div>    
            <div class="span4">
                <a id="clear-cart" >{% trans 'Очистить' %}</a>
            </div>
        </div> 
        {% endif %}
        {% endwith %}

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
