{% extends "lfs/base.html" %}
{% load i18n lfs_tags sshop_tags %}

{% block title %}
    {% trans "Notebook" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="products">
        {% if not products_count %}
            <div class="alert">
                <p>{% trans 'В вашем блокноте нет пока ни одного товара.' %}</p>
            </div>
        {% else %}
            <a href="{% url lfs_notebook_remove_all_products %}">{% trans 'Clear' %}</a>
        {% endif %}
        {% for product in notebook_list %}
            <div class="product-list-item">
                <div class="row-fluid">
                    <a href="{% url lfs_notebook_remove_product product.id %}"><i class="icon-remove"></i></a>
                    <div class="span2">
                        <a href="{% url lfs.catalog.views.product_view product.slug %}">
                            {% if product.get_image.image.url_medium %}
                                <img alt="{{ product.name }}" src="{{ product.get_image.image.url_medium }}" />
                            {% else %}
                                <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="span8">
                        <div class="product-caption">
                            <a href="{% url lfs_product product.slug %}">{{ product.name }}</a>
                        </div>
                        <div class="product-description">{{ product.get_short_description|safe }}</div>
                        <div class="product-statuses">
                            <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}{{ product.id }}</span>
                        </div>
                        <div class="product-form">
                            <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                        </div>
                    </div>
                    <div class="span2">
                        {% if product.get_for_sale %}
                            <div class="product-price">
                                <span class="label label-important price">{% for_sale_price product %}</span>
                                <ul>
                                    <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                                    <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="product-price">
                                <span class="label label-info price">{% price product %}</span>
                            </div>
                        {% endif %}
                        {% if product.status.show_buy_button %}
                            <form action="{% url lfs.catalog.views.product_form_dispatcher %}" class="add-to-cart-form" method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <input class="input-small inline" name="quantity" type="text" value="{{ product.default_value }}" />
                                <button class="btn btn-mini">{% trans "Add to cart" %}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "lfs/catalog/categories/product/products_navigation.html" %}
{% endblock %}