{% load i18n %}
{% load url from future %}
<html>
<head>
<title>{% trans "Report builder" %}</title>
{% block header %}
{% block report_header %}{% endblock %}
{% endblock %}
</head>
<body>
{% block content %}
{% block report_form %}{% endblock %}
{% endblock %}
</body>
</html>
