{% extends "report_builder/base.html" %}
{% load i18n %}
{% load url from future %}

{% block report_header %}
<script src="{{ STATIC_URL|default:'/static/' }}report_builder/js/jquery-1.8.2.min.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL|default:'/static/' }}report_builder/js/report_form.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL|default:'/static/' }}report_builder/js/spin.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL|default:'/static/' }}report_builder/js/jquery.spin.js" type="text/javascript" ></script>

<link rel="stylesheet" href="{{ STATIC_URL|default:'/static/' }}jquery-ui-1.9.1/css/smoothness/jquery-ui-1.9.1.custom.min.css" />
<script src="{{ STATIC_URL|default:'/static/' }}jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL|default:'/static/' }}report_builder/css/report_form.css" />
{% endblock %}

{% block report_form %}
<div id="container">
  <form action="" method="post">{% csrf_token %}
    <header>
      <div id="report_id" data-id="{{ object.id }}">
        <div style="display:table; width:100%;">
          <div style="display:table-cell; width:25em;">
            {% trans "Set report fields for" %} {{ form.name }}   
          </div>
          <div style="display:table-cell;"> 
            {{ form.description }}
          </div>
          <div style="display:table-cell; width:25em;">
            {% trans "Last updated" %}: {{ object.modified }}
            {% trans "Model" %}: {{ object.root_model }}
          </div>
        </div>
      </div>
    </header>
    <section class="sidebar">
      <section class="top_half">
        {% trans "Expand Related Fields" %}:
        <input type="text" class="search_box" onkeyup="filter(this, 'related_fields_ol')" placeholder="Search Fields"/>
        <ol class="tree" id="related_fields_ol" style="padding-left: 0px; margin: 0px;">
          <li class="tree_expanded">
            <span class="button highlight" onclick="show_fields(event, '{{ object.root_model_id }}', '', '');">
              {{ object.root_model }}
            </span>
          </li>
          <li>{% include "report_builder/report_form_related_li.html" %}</li>
        </ol>
      </section>
      <div style="text-align: center;">
      <img src="{{ STATIC_URL|default:'/static/' }}report_builder/img/arrow_down.png"/>
      </div>
      <section class="bottom_half">
        {% trans "Fields - drag fields to add" %}
        <input type="text" class="search_box" onkeyup="filter(this, 'field_selection_div')" placeholder="Search Fields"/>
        <div id="field_selection_div">
          {% include "report_builder/report_form_fields_li.html" %}
        </div>
      </section>
 
    </section>
    <section class="main_area">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">{% trans "Report Display Fields" %}</a></li>
          <li><a href="#tabs-2">{% trans "Report Filters" %}</a></li>
          <li><a href="#tabs-3">{% trans "Preview Report" %}</a></li>
        </ul>
        <div id="tabs-1">
          <div id="field_list_droppable" class="droppable">
            {{ field_list_formset.management_form }}
            {% for form in field_list_formset %}
              {{ form.errors }}
            {% endfor %}
            <table id="field_list_table" class="simple_table">
              <thead>
                <tr>
                  <th>{% trans "Position" %}</th>
                  <th>{% trans "Delete" %}</th>
                  <th>{% trans "Field" %}</th>
                  <th>{% trans "Name" %}</th>
                  <th>{% trans "Sort" %}</th>
                  <th><span style="padding-left: 1.2em;">{% trans "Desc?" %}</span></th>
                  <th>{% trans "Width" %}</th>
                  <th>{% trans "Aggregate" %}</th>
                  <th>{% trans "Format" %}</th>
                  <th>{% trans "Total" %}</th>
                  <th>{% trans "Group" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for form in field_list_formset %}
                  <tr>
                    <td><span style="cursor: move;" class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                    <td>{{ form.DELETE }}<span class="hide_me">{{ form.position }}</span></td>
                    <td>
                      {{ form.id }}
                      {{ form.path_verbose.as_hidden }}
                      {{ form.field }}
                      {{ form.field_verbose.as_hidden }}
                      {{ form.path }}
                      
                      {% if form.path_verbose.value %}
                        ({{ form.path_verbose.value }})
                      {% endif %}
                      {{ form.field_verbose.value }}
                    </td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.sort }}</td>
                    <td>{{ form.sort_reverse }}</td>
                    <td>{{ form.width }}</td>
                    <td onclick="aggregate_tip()">{{ form.aggregate }}</td>
                    <td>{{ form.display_format }}</td>
                    <td>{{ form.total }}</td>
                    <td>{{ form.group }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% trans "Drag fields here" %}
            <div id="tip_area"></div>
          </div>
        </div>
        <div id="tabs-2">
          {{ form.distinct }}{{ form.distinct.label}} ({% trans "Removes duplicates" %})
          <div id="field_filter_droppable" class="droppable">
            {{ field_filter_formset.management_form }}
            {% for form in field_filter_formset %}
              {{ form.errors }}
            {% endfor %}
            <table id="field_filter_table" class="simple_table">
              <thead>
                <tr>
                  <th></th>
                  <th>{% trans "Delete?" %}</th>
                  <th>{% trans "Field" %}</th>
                  <th>{% trans "Filter Type" %}</th>
                  <th>{% trans "Value" %}</th>
                  <th>{% trans "Exclude?" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for form in field_filter_formset %}
                  <tr>
                    <td><span style="cursor: move;" class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                    <td>{{ form.DELETE }}<span class="hide_me">{{ form.position }}</span></td>
                    <td>
                      {{ form.id }}
                      {{ form.path_verbose.as_hidden }}
                      {% if form.path_verbose.value %}
                        ({{ form.path_verbose.value }})
                      {% endif %}
                      {{ form.field }}
                      {{ form.field_verbose.as_hidden }}{{ form.field_verbose.value }}{{ form.path }}
                    </td>
                    <td>{{ form.filter_type }}</td>
                    {% if "DateField" in form.field_verbose.value %}
                        <td class="datepicker">{{ form.filter_value }} {{ form.filter_value2 }}</td>
                        <script>
                            $( ".datepicker input" ).datepicker();
                        </script>
                    {% else %}
                        <td>{{ form.filter_value }} {{ form.filter_value2 }}</td>
                    {% endif %}
                    <td>{{ form.exclude }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% trans "Drag fields here" %}
            <div id="tip_area"></div>
          </div>
        </div>
        <div id="tabs-3">
          <img src="{{ STATIC_URL|default:'/static/' }}report_builder/img/table-excel.png"/>
          <a href="{% url "report_builder.views.download_xlsx" object.id %}">
          {% trans "Download full xlsx" %}</a>
          <div id="preview_area"></div>
        </div>
      </div>
        <input type="submit" value="{% trans 'Save' %}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"/>
    </section>
  </form>
</div>
{% endblock %}
