{% load url from future %}
{% load i18n %}
<div class="toolbar-content">
  <div class="object-tools">
        <div class="btn-group">


        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-list icon-white"></i> {% trans "Add portlet" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for model in portlets_models %}
                    <li><a href="{% url 'admin_portlets_portlet_add' content_type.id object.id model.id %}" onclick='return  showAddAnotherPopup(this);'>{% trans model.name %}</a></li>
                {% endfor %}

            </ul>
        </div>


        </div>

        <div class="btn-group">
            <a href="{% url 'admin_delete_all_portlets' content_type.id object.id %}" class="ajax-confirm-link btn btn-danger"
            data-question="{% trans 'This operation cannot be undone. Do you really want to delete all portlets for this category?' %}"
            data-loaderselector="#portlets-list-wrapper">
                <i class="icon-trash icon-white"></i> {% trans "Delete all portlets" %}
            </a>
        </div>
  </div>
    <div>
    <h2>{% trans "Manage portlets" %}</h2>
    </div>
</div>

<div id="portlets-list-wrapper" data-ajaxlink="{% url 'admin_portlets_for_object' content_type.id object.id %}">
<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about portlets..." %}</p>
</div>

<script type="text/javascript">
    function update_portlets_info() {
        $("#portlets-list-wrapper").load("{% url 'admin_portlets_for_object' content_type.id object.id %}",
            function () {
                $("#portlets-list-wrapper").loadOverStop();
            });
    }

    function on_portlets_popup_close() {
        $("#portlets-list-wrapper").loadOverStart();
        setTimeout(update_portlets_info, 1000);
    }

    update_portlets_info();

</script>

