{% load i18n %}
<form action="{% url hr_urls_edit_template template_id %}"
      method="post" class="form-vertical">

    <div class="form-actions">
    <input class="ajax-save-button btn btn-primary"
           type="submit"
           value="{% trans 'Save template' %}" />
    </div>
</form>
