{% load i18n %}
<a class="add btn btn-info" href="{% url hr_urls_add_template category_id %}"><i class="icon-plus icon-white"></i> {% trans 'Add template' %}</a>


{% if url_templates %}
<h4>{% trans "Templates" %}</h4>
<table class="table">
    <tr>
        <th>{% trans 'Template' %}</th>
        <th>{% trans 'Validators' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>

{% for url_template in url_templates %}
<tr>
    <td>{{ url_template.template }}</td>
    <td>{{ url_template.validators }}</td>
    <td nowrap="nowrap">
        <a class="filter-variants-button btn btn-success" href="{% url hr_urls_edit_template url_template.id %}" title="{% trans 'Edit template' %}">
          <i class="icon-edit icon-white"></i></a>
        <a class="down ajax-link btn btn-success{% if forloop.last %} disabled{% endif %}"href="{% url hr_urls_move_template url_template.id %}?direction=1" title='{% trans "Move Down" %}'><i class="icon-arrow-down icon-white"></i></a>
        <a class="up ajax-link btn btn-success{% if forloop.first %} disabled{% endif %}"href="{% url hr_urls_move_template url_template.id %}?direction=0"title='{% trans "Move Up" %}'><i class="icon-arrow-up icon-white"></i></a> 
        <a class="delete-link delete btn btn-danger"
           dialog_yes_button_class="ajax-save-button"
           dialog_message='{% trans "Do you really want to delete this template?" %}'
           href="{% url hr_urls_delete_template url_template.id %}"
           title='{% trans "Delete" %}'><i class="icon-trash icon-white"></i></a>
    </td>    
<tr>
{% endfor %}    
</table>
{% else %}
<div class="alert alert-info">
  {% trans "There are no templates yet." %}
</div>
{% endif %}
