{% load url from future %}
{% load i18n sshop_tags %}
<div class="btn-group">
  <a class="ajax-confirm-link btn btn-info" href="{% url 'admin_autofill_filter' filter.pk %}"
  data-question="{% trans 'Do you really want to convert property to float and initate the filter?' %}"
  data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
    <i class="icon-refresh icon-white"></i> {% trans "Autofill" %}</a>
</div>