{% load url from future %}
{% load i18n sshop_tags %}
<div class="btn-group">
  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
     <i class="icon-list icon-white"></i> {% trans "Sort" %}
     <span class="caret"></span>
  </a>
    <ul class="dropdown-menu">
    {% for sorter in sorters %}
      {% if sorter.class_name == 'divider' %}
        <li class="divider"></li>
      {% else %}
        <li><a class="ajax-confirm-link" data-question="{% trans 'Do you want to sort options of this filter?' %}" data-loaderselector="#filter-options-wrapper-{{ filter.pk }}" href="{% url 'admin_sort_filter' filter.pk %}?sort_type={{ sorter.code }}">
        {% if filter.sorting == sorter.code %}
        <strong>{{ sorter.name }}</strong>
        {% else %}
        {{ sorter.name }}
        {% endif %}
        </a></li>
      {% endif %}
    {% endfor %}
    </ul>
</div>