{% load url from future %}
{% load i18n sshop_tags %}
{% if filter.has_options %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>{% trans "Option" %}</th>
        <th>{% trans "Identifier" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Operator" %}</th>
        <th>{% trans "Manage" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for option in filter_options %}
    <tr>
            <td><a href="{% url 'admin:filters_filteroption_change' option.pk %}?filter_id={{ filter.pk }}" onclick='return showAddAnotherPopup(this);'>{{ option.title }}</a></td>
            <td>{{ option.identificator }}</td>
            <td>{{ option.products.count }}</td>
            <td>{{ option.get_operator_type_str }}</td>
            <td width="290">
      <div class="btn-group">
        <a class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}"
               href="{% url 'admin_move_filter_option' option.pk %}?direction=0&start={{ current_page.number }}"
               data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"
               title='{% trans "Move Up" %}'><i class="icon-arrow-up"></i></a>        
        <a class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}"
               href="{% url 'admin_move_filter_option' option.pk %}?direction=1&start={{ current_page.number }}"
               data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"
               title='{% trans "Move Down" %}'><i class="icon-arrow-down"></i></a>

        <a class="ajax-confirm-link btn" href="{% url 'admin_parse_filter_option' option.pk %}?start={{ current_page.number }}" title="{% trans 'Parse' %}"
        data-question="{% trans 'Do you want to start parsing?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-refresh"></i></a>

        <a class="btn" href="{% url 'admin:filters_filteroption_change' option.pk %}?filter_id={{ filter.pk }}&start={{ current_page.number }}" title="{% trans 'Edit option' %}" 
        onclick='return showAddAnotherPopup(this);'>
          <i class="icon-edit"></i></a>
        <a class="ajax-confirm-link btn{% if forloop.first %} disabled{% endif %}" href="{% url 'admin_combine_filter_option' option.id %}?direction=0&start={{ current_page.number }}" title="{% trans 'Combine Up' %}"
        data-question="{% trans 'This operation cannot be undone. Do you really want to combine options?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-hand-up"></i></a>
        
        <a class="ajax-confirm-link btn{% if forloop.last %} disabled{% endif %}" href="{% url 'admin_combine_filter_option' option.id %}?direction=1&start={{ current_page.number }}" title="{% trans 'Combine Down' %}"
        data-question="{% trans 'This operation cannot be undone. Do you really want to combine options?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-hand-down"></i></a>

        </div>
        <div class="btn-group">
        <a class="ajax-confirm-link btn btn-danger"
           href="{% url 'admin_delete_filter_option' option.pk %}?start={{ current_page.number }}"
           title='{% trans "Delete" %}'
           data-question="{% trans 'This operation cannot be undone. Do you really want to delete this option?' %}"
           data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"><i class="icon-trash icon-white"></i></a>
       </div>
      </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if paginator.num_pages > 1 %}
<ul class="pager">
  {% if current_page.has_previous %}
  <li class="previous">
    <a href="{% url 'admin_option_list_for_filter' %}?json_result&filter_id={{ filter.id }}&start={{ current_page.previous_page_number }}" class="simple-ajax-link" data-filterid="{{ filter.pk }}"
    data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">&larr; {% trans "Previous" %}</a>
  </li>
  {% else %}
  <li class="previous disabled"><a>&larr; {% trans "Previous" %}</a></li>
  {% endif %}
  <li>{{ current_page.number }} / {{ paginator.num_pages }}</li>
  {% if current_page.has_next %}
  <li class="next">
    <a href="{% url 'admin_option_list_for_filter' %}?json_result&filter_id={{ filter.id }}&start={{ current_page.next_page_number }}" class="simple-ajax-link" data-filterid="{{ filter.pk }}"
    data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">{% trans "Next" %} &rarr;</a>
  </li>
  {% else %}
  <li class="next"><a>{% trans "Next" %} &rarr;</a></li>
  {% endif %}
</ul>
{% endif %}

{% else %}
    {% if filter.type != 20 %}
    <div class="alert alert-info">{% trans "There are no filter options." %}</div>
    {% endif %}
{% endif %}
