{% load i18n %}
{% load lfs_tags reviews_tags %}

{% if average %}
    <div class="average-rating-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            <div class="average-rating"
                 onclick="window.location='#reviews'">
                <div>{% average_for_instance product %}</div>
            </div>
	        <div class="average-rating-description clear">
	            {% trans 'Score' %}: {{ average|decimal_l10n }}, {% trans 'based on' %}
	            {% blocktrans count amount as counter %}{{ amount }} review{% plural %}{{ amount }} reviews{% endblocktrans %}.
	        </div>
		</div>
    </div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
