{% load i18n %}
<div class="filter_ajax" id="filter_ajax_{{ id }}">
</div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    function filter_ajax_load() {
        var get_params = $('#unpacked_hr_urls').val();
        if (get_params != undefined){
            $.ajax({
                url: "/filter/ajax-load/{{ id }}/{{ category_id }}?{{ get_params|safe }}",
                dataType: "json",
                success: function(msg){
                   $('#filter_ajax_{{ id }}').replaceWith(msg['html']);
                   mediator.publish('update_filter_system');
                }
            });
        }
        else {
            setTimeout(filter_ajax_load, 50);
        }
    };
    setTimeout(filter_ajax_load, 1); // set default 1/1000 second timeout to wait for load unpacked_hr_urls
</script>