{% load i18n %}
{% load lfs_tags %}
<div class="text-portlet portlet">
    {% if title %}<div class="portlet-header">
        <h4>{{ title }}</h4>
    </div>{% endif %}
    <div class="portlet-body">
        {{ text|safe }}
    </div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
