<div class="js-mark-for-instance average-rating" data-instance='{{ instance }}' data-hash='{{ hash }}' onclick="window.location='#reviews'">
    <ul class="star-rating">
        <li class="current-rating"></li>
    </ul>
</div>