{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load url from future %}

{% block wrapper %}
<div class="row-fluid">
    <div class="span3">
        {% block left-slot %}
        <div class="well" style="padding:8px 0;">
        <ul class="nav nav-list">
            <li{% if page_type == "account" %} class="active"{% endif %}>
                <a{% if page_type != "account" %} href="{% url 'lfs_my_account' %}"{% endif %}>{% trans 'Your settings' %}</a>
            </li>
            <li{% if page_type == "orders" %} class="active"{% endif %}>
                <a{% if page_type != "orders" %} href="{% url 'lfs_my_orders' %}"{% endif %}>{% trans 'Your orders' %}</a>
            </li>
            <li{% if page_type == "password" %} class="active"{% endif %}>
                <a{% if page_type != "password" %} href="{% url 'lfs_my_password' %}"{% endif %}>{% trans 'Change password' %}</a>
            </li>
            {% comment %}
            <li>
                <a href="{% url 'lfs_my_email' %}">{% trans 'Change e-mail' %}</a>
            </li>
            {% endcomment %}
        </ul>
        </div>
        {% endblock %}
    </div>
    <div class="span9">    
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
