{% load i18n %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% csrf_token %}
{{ form|as_bootstrap:"horizontal" }}
<div class="form-actions">
<a class="btn" href="{% url 'lfs_my_account' %}">{% trans "Cancel" %}</a>
<button type="submit"
        name="submit"
        class="btn btn-primary">{% trans "Submit" %}</button>    



