{% extends 'sshop_import/index.html' %}
{% load bootstrap_toolkit %}


{% block content %}
<link href="/static/fileuploader.css" rel="stylesheet" type="text/css"> 
  <p><a href="http://github.com/valums/file-uploader">Back to project page</a></p>
    
  <p>To upload a file, click on the button below. Drag-and-drop is supported in FF, Chrome.</p>
  <p>Progress-bar is supported in FF3.6+, Chrome6+, Safari4+</p>

  <div id="file-uploader-demo1">    
    <noscript>      
      <p>Please enable JavaScript to use file uploader.</p>
      <!-- or put a simple form for upload here -->
    </noscript>         
  </div>

  <div class="qq-upload-extra-drop-area">Drop files here too</div>
    
    <script src="/static/fileuploader.js" type="text/javascript"></script>
    <script>        
        function createUploader(){            
            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader-demo1'),
                action: '/import/ajax_upload/',
                debug: true,
                extraDropzones: [qq.getByClass(document, 'qq-upload-extra-drop-area')[0]]
            });           
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>  

{% endblock %}